
:root{
    --green-color: green;
    --greenyellow-color: greenyellow;
}

body {
    margin: 0%;
    background-image: url(./images/minions-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#heading h1 {
    color: var(--green-color);
    font-size: 4rem;
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

#text-area {
    width: 30%;
    margin: auto;
}

#btn-translate {
    font-size: 1rem;
    margin-top: 10px;
    padding: 1rem;
    background-color: var(--greenyellow-color);
    border-radius: 0.3rem;
    border: 0rem;
}


#output-desc {
    margin-top: 0.6rem;
}

#output {
    border: 1px solid black;
    height: 6vh;
    width: 70%;
    margin-top: 10px;
    padding: 1rem;
}

.inline {
    display: inline;
}

#footer {
    margin: auto;
    width: 40%;
    text-align: center;
}

#footer-bgc {
    margin-top: 5rem;
    padding: 0.3rem 0px;
    background-color: var(--greenyellow-color);
    position: fixed;
    bottom: 0;
    width: 100%;
}

